services:
  - type: web
    name: crm-app
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: ./crm-app
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: SESSION_DRIVER
        value: database
      - key: CACHE_DRIVER
        value: database
      - key: QUEUE_CONNECTION
        value: database
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        fromDatabase:
          name: crm-db
          property: connectionString

databases:
  - name: crm-db
    databaseName: crm_db
    plan: free
